{{ define "telegram.text" }}
{{ $first := index .Alerts 0 }}
{{ $severity := $first.Labels.severity }}
{{ if eq .Status "firing" -}}
{{ if eq $severity "warning" -}}
⚠️ <b>FIRING</b>
{{ else if eq $severity "critical" -}}
🔴 <b>FIRING</b>
{{ else -}}
ℹ️ <b>INFO</b>
{{ end -}}
{{ else if eq .Status "resolved" -}}
✅ <b>RESOLVED</b>
{{ end -}}
<b>{{ .CommonLabels.alertname }}</b>
{{ range .Alerts -}}
-----
{{ if .Labels.name -}}
<b>🎯Affected: </b>{{ .Labels.name }}
{{ end -}}
{{ if eq $.Status "firing" -}}
<b>Date: </b>{{ .StartsAt.Format "Mon 02 Jan 15:04:05 MST 2006" }}
{{ else if eq $.Status "resolved" -}}
<b>Date: </b>{{ .EndsAt.Format "Mon 02 Jan 15:04:05 MST 2006" }}
{{ end -}}
{{ if .Annotations.summary -}}
<b>Summary: </b>{{ .Annotations.summary }}
{{ end -}}
{{ if .Annotations.description -}}
<b>Description: </b>{{ safeHtml .Annotations.description }}
{{ end -}}
{{ end -}}
{{ end -}}
